/* Main CSS */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 75%;
    margin: auto;
    overflow: hidden;
}

/* Navigation Bar styles */
.navbar {
    background-color: #333;
    color: #f4f4f4;
    padding: 10px;
}

.navbar a {
    color: #f4f4f4;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
    text-decoration: underline;
}