body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: silver;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: silver;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: rgb(49, 49, 120) !important;
    padding: 10px 0;
    color: white !important;
}

.navbar a {
    color: white !important;
}