body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: silver;
}

#education-list {
    margin-top: 50px;
}

#education-list div {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid blue;
    background-color: rgb(49, 49, 120);
    border-radius: 5px;
}

#education-list h2 {
    margin: 0 0 10px;
    color: white;
}

#education-list p {
    margin: 0;
    color: wheat;
}