.about-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.about-container h2 {
    margin-bottom: 20px;
}

img {
    max-width: 320px;
}
.my-image {
    position: fixed;
    top: 140px;    
    right: 1100px  !important;
}